<nav class="navbar sticky-top navbar-expand-lg bg-primary bg-gradient bg-opacity-75 py-2 px-3">
  <img src="assets/icons/portfolio_logo.png" alt="Website Logo" class="img-fluid rounded-3" style="max-height:40px">
  <div id="navBarContainer" class="ps-2">
    <div class="navbar-brand d-flex align-items-center">
      <a class="h5 text-white mx-auto text-center" href="#">
        <div class="d-flex align-items-center"></div>
      </a>
    </div>
  </div>
  <div class="navbar-nav pe-2">
    <a class="btn btn-light" href="https://github.com/XFIRE6484" target="_blank" role="button"
      title="View GitHub Profile">
      <img class="img-fluid" style="width: 25px;" src="assets/icons/github.svg" alt="Github Repo Link">
    </a>
  </div>
</nav>

<div class="container-fluid text-center p-4">
  <div class="row justify-content-evenly">
    <!-- Solo un *ngFor aquí -->
    <div class="col-12 col-md-6 mb-4" *ngFor="let proyect of proyects; let i = index">
      <div class="card border-secondary h-100 shadow-sm">
        <ngb-carousel #carouselElement [id]="'carousel'+i" [interval]="10000" [pauseOnHover]="pauseOnHover"
          (slide)="onSlide($event,carouselElement)">
          <ng-template ngbSlide *ngFor="let img of proyect.img;">
            <img [src]="img" #imageElement [id]="'slider'+proyect.title+i"
              (click)="requestFullscreen(imageElement, i)" class="sliderImage" alt="{{ proyect.title }} image" />
          </ng-template>
        </ngb-carousel>
        <hr class="mx-3 mb-3" />
        <div class="card-body">
          <h6 class="card-title fs-5 fw-bold text-center">{{ proyect.title }}</h6>
          <p *ngIf="proyect.description" class="card-text text-start">{{ proyect.description }}</p>
          <ng-container *ngIf="proyect.type === 'app'; else webLink">
            <a class="btn btn-primary btn-sm mt-2" [class.disabled]="!proyect.url"
              (click)="openIframe(proyect.url)">
              Ver Aplicación
            </a>
          </ng-container>

          <ng-template #webLink>
            <a href="{{ proyect.url }}" target="_blank" class="btn btn-primary btn-sm mt-2"
              [class.disabled]="!proyect.url">
              Ver Website
            </a>
          </ng-template>
        </div>

        <div *ngIf="proyect.startDate !== undefined || proyect.endDate !== undefined"
          class="card-footer text-muted small text-center">
          <p>
            <ng-container *ngIf="proyect.startDate !== undefined">{{
              proyect.startDate.toDate().toLocaleDateString()
              }}</ng-container> -
            <ng-container *ngIf="proyect.endDate !== undefined; else today">{{
              proyect.endDate.toDate().toLocaleDateString() }}</ng-container>
            <ng-template #today>En Desarrollo</ng-template>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>